<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/register.css">
    <title>Register</title>
</head>

<body>
    <header>
        <div class="initial_header">
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo" width="20%" />
            <br>
            <div class="buscar_input">
                <input type="text" placeholder="Buscar productos, marcas"> <button><i class="fas fa-search"></i></button>
            </div>
            <p class="hand_comprarTarjeta"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="nav_principal">
            <ul type="none">
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
        </ul>
        <ul type="none">
            <li><a href="/registro">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
            <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li>Mis compras <i class="fas fa-shopping-basket"></i></li>
        </ul>
    </nav>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>
    <section>
        <img class="banner_img" src="/images/img-home-banner.jpg" alt="Banner" width="50%"/>
    </section>
    </header>
    <main>
        <form action="/registro" method="POST">
            
            <input class="input_info" type="text" name="nombre" id="nombre" placeholder="Nombre y apellido" required minlength="2">

            <input class="input_info" type="text" name="usuario" id="usuario" placeholder="Nombre de usuari@" required minlength="4">

            
            <input class="input_info" type="email" name="email" id="email" placeholder="E-mail" required>

            <h3>Fecha de nacimiento</h3>
            <input class="input_info" type="date" name="fecha-de-nacimiento" id="fecha-de-nacimiento" required>

            <input class="input_info" type="text" name="domicilio" id= "domicilio" placeholder="Domicilio" required minlength="6">

            <h3>Perfil de usuario</h3>
            <section class="radios_butones">
                <input type="radio" id="comprar" name="perfil" value="comprar">
                <label for="comprar">Comprar</label>
                <input type="radio" id="vender" name="perfil" value="vender">
                <label for="vender">Vender</label>
            </section>
            

            <h3>Categorías de interés</h3>

                <div class="cate_interes">
                    <input type="checkbox" name="categoria-1" id="categoria-1" value="electro">
                    <label for="categoria-1">Electro</label>

                </div>
                <div class="cate_interes">
                    <input type="checkbox" name="categoria-2" id="categoria-2" value="moda">
                    <label for="categoria-2">Moda</label>
                </div>
                <div class="cate_interes">
                    <input type="checkbox" name="categoría-3" id="categoría-3" value="hogar">
                    <label for="categoria-3">Hogar</label>
                </div>
                <div class="cate_interes">
                    <input type="checkbox" name="categoria-4" id="categoria-4" value="jugueteria">
                    <label for="categoria-4">Juguetería</label>
                </div>
                <div class="cate_interes">
                    <input type="checkbox" name="categoria-5" id="categoria-5" value="vida-sana">
                    <label for="categoria-5">Vida Sana</label>
                </div>             

            <h3>Foto de usuario</h3>
            <input class="foto_user" type="file" id="avatar" name="avatar" accept=".jpg">
            
            <input class="input_info" type="password" id="contraseña" name="contraseña" placeholder="Contraseña" required minlength="6">
            
            <input class="input_info" type="password" id="c-contraseña" name="c-contraseña" placeholder="Confirmar contraseña" required minlength="6">

            <input class="send_button" type="submit" id="enviar" name="enviar">

            <input class="reset_button" type="reset" id="borrar" name="borrar">



        </form>

    </main>
    <footer class="features_footer">

        <div class="feature">
            <i class="fas fa-credit-card"></i>
        <h3> Pagá con tarjeta o en efectivo </h3>
        <p>
            Con MercadoLiebreCash tenés cuotas sin
            interés con tarjeta o efectivo en puntos de
            pago. ¡Y siempre es seguro!
        </p>
    </div>
    <div class="feature">
        <i class="fas fa-gift"></i>
        <h3> Envio gratis desde los $ 2.500 </h3>
        <p>
            Solo por estar registrado en MercadoLiebre
            tenés envios gratis en miles de productos. Es
            un beneficio de Mercado Puntos.
        </p>
    </div>
    <div class="feature">
        <i class="fas fa-user-shield"></i>
        <h3> Seguridad de principio a fin </h3>
        <p>
            ¿No te gusta? ¡Devolvelo! En MercadoLiebre
            no hay nada que no puedas hacer porque estás
            siempre protegid@.
        </p>
    </div>
    <div class="copyright"> Copyright 1999-2020 MercadoLiebre S.R.L. </div>
    </footer>
</body>
</html>