body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: lightgoldenrodyellow;
}

<<<<<<< HEAD
main{
    text-align: center;
    width: 90%;
      

}
article{
    margin-bottom: 10px;
}

.d-articulo{
    border-top: 1px solid #ebebeb ;
    padding: 15px;
}


=======
.features_footer {
    text-align: center;
    background-color: white;
}

.features_footer .fas {
    font-size: 2em;
    margin-bottom: 10px;
    color: blue;
}

.features_footer h2 {
    color: gray;
}
>>>>>>> d90dedfc2447dee1c7c87c0eb04ed6d067bc40b7
