body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: lightgoldenrodyellow;
}

main{
    text-align: center;
    width: 90%;
      

}
article{
    margin-bottom: 10px;
}

.d-articulo{
    border-top: 1px solid #ebebeb ;
    padding: 15px;
}


