body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #EAC926;
}

main{
    text-align: center;
    width: 90%;
      

}
article{
    margin-bottom: 10px;
}

.d-articulo{
    border-top: 1px solid #ebebeb ;
    padding: 15px;
}
header p{
    text-align: center;
}
.burger-menu{
    background-color: #1259c3;
    width: 20px;
    
    
}

@media (min-width: 361px){
    .d-articulo{
        display: none;
    }
    nav{
        display: none;

    }
    .burger-menu{
        display: block;
    }
}

@media (min-width:761px){
    article{
        display: block;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .d-articulo{
        display: block;
    }
    nav{
        display: block;

    }
    .burger-menu{
        display: none;
    }

}


